/.vs/MailMergeSolution/CopilotIndices
/.vs/MailMergeSolution/DesignTimeBuild
/.vs/MailMergeSolution/FileContentIndex
/.vs
/DbContext/bin/Debug/net8.0
/DbContext/obj/Debug/net8.0
/DbContext/obj
/MailMergeEngine/bin/Debug/net8.0
/MailMergeEngine/obj
/MailMergeUI/bin/Debug/net8.0-windows
/MailMergeUI/obj
/RisoFtMailMergeEngine/bin/Debug/net8.0
/RisoFtMailMergeEngine/obj
/DbContext/bin/Release/net8.0
/MailMergeEngine/bin/Release/net8.0
/MailMergeUI/bin/Release/net8.0-windows
/MailMerge.Installer/Release
/ConsoleApp1/.vs
/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0
/ConsoleApp1/.vs/ConsoleApp1/DesignTimeBuild/.dtbcache.v2
/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/a0846a20-6de4-49c0-8829-5053738d0eed.vsidx
/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/c2757e2c-3cee-4f4c-b24f-5b7ceec497bd.vsidx
/ConsoleApp1/.vs/ConsoleApp1/v17/.suo
/ConsoleApp1/.vs/ConsoleApp1/v17/DocumentLayout.json
/ConsoleApp1/.vs/ConsoleApp1/v17/DocumentLayout.backup.json
/ConsoleApp1/ConsoleApp1/bin/Debug/net8.0/ConsoleApp1.dll
/ConsoleApp1/ConsoleApp1/bin/Debug/net8.0/ConsoleApp1.exe
/ConsoleApp1/ConsoleApp1/bin/Debug/net8.0/ConsoleApp1.dll.config
/ConsoleApp1/ConsoleApp1/bin/Debug/net8.0/ConsoleApp1.pdb
/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/ref/ConsoleApp1.dll
/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/refint/ConsoleApp1.dll
/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/apphost.exe
/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.AssemblyInfo.cs
/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.AssemblyInfoInputs.cache
/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.assets.cache
/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.csproj.CoreCompileInputs.cache
/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.csproj.FileListAbsolute.txt
/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.dll
/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.GeneratedMSBuildEditorConfig.editorconfig
/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.genruntimeconfig.cache
/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.pdb
/ConsoleApp1/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.dgspec.json
/ConsoleApp1/ConsoleApp1/obj/project.assets.json
/ConsoleApp1/ConsoleApp1/obj/project.nuget.cache
/ConsoleApp1/.vs/ConsoleApp1/DesignTimeBuild/.dtbcache.v2
/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/a0846a20-6de4-49c0-8829-5053738d0eed.vsidx
/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/c2757e2c-3cee-4f4c-b24f-5b7ceec497bd.vsidx
/ConsoleApp1/.vs/ConsoleApp1/v17/.suo
/ConsoleApp1/.vs/ConsoleApp1/v17/DocumentLayout.backup.json
/ConsoleApp1/.vs/ConsoleApp1/v17/DocumentLayout.json
/ConsoleApp1/ConsoleApp1/bin/Debug/net8.0/ConsoleApp1.dll
/ConsoleApp1/ConsoleApp1/bin/Debug/net8.0/ConsoleApp1.dll.config
/ConsoleApp1/ConsoleApp1/bin/Debug/net8.0/ConsoleApp1.exe
/ConsoleApp1/ConsoleApp1/bin/Debug/net8.0/ConsoleApp1.pdb
/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/ref/ConsoleApp1.dll
/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0/refint/ConsoleApp1.dll
