<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="API Key" value="503be21e9328dbaf1b122a1e56d480ed60d27291" />
		<add key="SyncfusionLicense" value="Ngo9BigBOggjHTQxAR8/V1JFaF1cXGFCf1FpRGpGfV5ycUVEallVTndZUiweQnxTdEBiWH1ecHZQRWVZWUV0W0leYg==" />
		<add key="USeAPISimulator" value="false"/>
	</appSettings>
</configuration>