<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MailMergeUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MailMergeUI.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberMe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDarkMode" serializeAs="String">
                <value>False</value>
            </setting>
        </MailMergeUI.Properties.Settings>
    </userSettings>
  <appSettings>
    <add key="API Key" value="503be21e9328dbaf1b122a1e56d480ed60d27291" />
	<add key="USeAPISimulator" value="true"/>
  </appSettings>
</configuration>